
body {
 background-color: purple;
 font-family:sans-serif;
 font-size: 30px;
 color: white;
 text-align: center;

}

hr{
 border: 2px solid black;
}

div {
 background-image: url("assets/img/logo.png");
 background-position: center;
 background-size: cover;
}

.efects {
 transform-style: preserve-3d;
 transition: 2s;
}

.rotation-efect {
 transform: rotateY(180deg);
}

.card {
 border: 1px solid black;
 float: right;
 height: 200px;
 margin: 4% 7%;
 width: 18%;
 }

.card-1[selected=true] {
   background-image:  url("assets/img/cabin.png");
 }

 .card-2[selected=true] {
   background-image: url("assets/img/circus.png");
 }

 .card-3[selected=true] {
   background-image: url("assets/img/game.png");
 }

 .card-4[selected=true] {
   background-image: url("assets/img/cake.png");
 }

 .card-comodin[selected=true] {
     background-color: pink;
 }
